# Code ownership and review requirements
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# All changes require review from maintainer
* @pinhead001
